#LoginPage{
    background: rgb(228,228,228);
    height: 700px;
}

#registerCard{
    width: 500px;
    height: 500px;
    background: white;
    margin: auto;
    
}
input::selection{
    border: none;
}
#divLogin{
    width: 100%;
    margin: auto;
    padding-top: 50px;
}
#mobno{
    margin-bottom: 30px;
}
#forgot{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    justify-content: space-around;
}
#dont{
    color:grey;
    margin-bottom: 30px;
}
#loginBtn{
    width: 400px;
    border-color: red;
    background: white;
    color: red;
    height: 35px;
    font-weight: 600;
}
input{
    height: 30px;
    font-size: 15px;
}