#main{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
}
#leftItem{
    display: flex;
    flex-direction: column;
    width: 50%;
}
#rightItem{
    width: 50%;
}
#line{
    border: 0.3px solid grey;
}
#companies{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-right: 30px;
}
img{
    width: 100px;
    height: 70px;
    margin-left: 5px;
}
#headline{
    font-weight: 900;
    font-size: 25px;
}
#headline > p{
    font-weight: bold;
}
#leftContent{
    width: 90%;
    margin: auto;
    height: 200px;
}
#subtitle{
    font-size: 13px;
    font-weight: 800;
}
#subtitle > p{
    font-weight: 400;
}
span{
    color: rgb(223,30,46);
}
#formBody{
    width:1475px;
    height:410px;
    background: url(../../Components/images/companies/bg.jpg);
    display: flex;
    flex-direction: column;
}
#topForm{
    width: 60%;
    margin: auto;
    margin-top: 70px;
    line-height: 5px;
    opacity: 10;
}
#bottomForm{
    background: white;
    opacity: 0.8;
    width: 85%;
    height: 100px;
    margin: auto;
    margin-bottom: 130px;
}
#getTitle{
    font-size: 30px;
    font-weight: bold;
    color: rgb(85, 85, 85);
}
#ready{
    background: red;
    color: white;
}
#getStitle{
    font-size: 18px;
    color: rgb(85, 85, 85);
}