.main{
    display: flex;
    flex-direction: row;
    height: 65px;
    width: 99.7%;
    justify-content: space-between;
    position: fixed;
    background: white;
}
#leftNav{
  display: flex;
  flex-direction: row;
}
#rightNav{
  display: flex;
  flex-direction: row;
}
#logoimg{
   height: 45px;
   width: 80px;
   margin: 10px 0 10px 30px;
}
#cartimg{
  height: 20px;
   width: 22px;
   margin: 18px 40px 0 0;
}
#signinBtn{
  margin: 10px 30px 0 0;
  background: rgb(223,30,46);
  color: white;
  width: 90px;
  height: 38px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-size: 14px;
}