#footerMain{
    height: 370px;
    width: 99%;
    background: rgb(68,100,120);
    color: white;
}
#content{
    display: flex;
    flex-direction: column;
}
#topItem{
    display: flex;
    margin: auto;
    width: 80%;
    flex-direction: row;
}
#bottomItem{
    display: flex;
    margin: auto;
    width: 80%;
    flex-direction: column;
    text-decoration: none;
    line-height: 10px;
    margin-top: 20px;
}
#byFooter{
    display: flex;
    flex-direction: column;
    width: 25%;
    list-style: none;
    line-height: 1px;
    margin-left: 30px;
}
#line{
    border: 0.5px solid grey;
}
#social{
    display: flex;
    flex-direction: column;
    width: 10%;
    color: white;
    margin-top: 50px;
}
img{
    width: 22px;
    height: 20px;
    padding: 2px;
    background: white;
    border-radius: 5px;
    margin-left: 90px;
}
a{
    color: white;
    text-decoration: none;
}
#refund{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 50px;
    margin-top: 15px;
}
p{
    font-weight: 400;
}